<header class="main-header">

    <!-- Logo->
    <a href="index2.html" class="logo">
      <span class="logo-mini"><b>A</b>LT</span>
      <!-ogo for regular state and mobile devices ->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a-->
    <%= link_to "Admin", users_path, class: "logo", style:"color:black"%>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-right" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      </a>
      </nav>
      <nav class="navbar-fixed-top">
        <div class="pull-right">
            
         <% if current_user.present? %>
                  <strong><%= current_user.name %></strong><i style="color:red;">(<%= current_user.role%>)</i> |
                  <%= link_to "Sign out", destroy_user_session_path, method: 'delete'%> 
                  <%end%>
        </div>
        </nav>
      </div>
      <!-- Navbar Right Menu -->
     
    
  </header>