<footer class="footer text-center text-lg-star">

  <div class="text-center p-3" style= "background-color: rgba(0, 0, 0, 0.2);">
      <i style="color:green;"> Made by- MatrixMarketer'sTrainee</i>
  </div>

</footer>