// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .bi-eye-fill{
//     color: rgb(9, 199, 9);
// }

.user-table, td ,th{
    border: 1px solid black;
    text-align: center;
}

.center, h4{
    margin-left: auto;
    margin-right: auto;
}